[submodule "nanoGPT"]
	path = nanoGPT
	url = git@github.com:karpathy/nanoGPT.git
[submodule "stable-diffusion-webui"]
	path = stable-diffusion-webui
	url = git@github.com:AUTOMATIC1111/stable-diffusion-webui.git
