# put your own info here
DISCORD_TOKEN=
MAIN_CHANNEL_ID=
MAIN_CHANNEL_NAME=
PHOTOS_DIR=
MY_NAME=
MY_DREAM=
MY_CURRENT_LOCATION=
PERSONAL_ASSISTANT_CHANNEL=
GPT3_OPENAI_API_KEY=
GPT3_CHANNEL_NAME=
GPT3_ROLEPLAY_CONTEXT=
STABLE_DIFFUSION_CHANNEL_NAME_1=
STABLE_DIFFUSION_CHANNEL_NAME_2=
STABLE_DIFFUSION_PYTHON_BIN_PATH=
STABLE_DIFFUSION_SCRIPT_PATH=
STABLE_DIFFUSION_ARGS_1=
STABLE_DIFFUSION_ARGS_2=
STABLE_DIFFUSION_OUTPUT_DIR=