DISCORD_TOKEN=
MAIN_CHANNEL_ID=
MAIN_CHANNEL_NAME=
MY_NAME=
MY_DREAM=

PERSONAL_ASSISTANT_CHANNEL=

# gpt3 prompts
GPT3_PROMPT_ROLEPLAY_FILE=
GPT3_PROMPT_PERSONAL_ASSISTANT_FILE=
# gpt3
GPT3_OPENAI_API_KEY=
CODEX_OPENAI_API_KEY=

GPT3_REPL_CHANNEL_NAME=
GPT3_CHANNEL_NAME=
GPT3_CHANNEL_ID=

# gpt3-repl
ORIGINAL_GPT3_REPL_PROMPT_FILENAME=
GPT3_REPL_WORKING_PROMPT_FILENAME=
GPT3_REPL_PYTHON_BIN=
GPT3_REPL_SCRIPT_FILENAME=
GPT3_REPL_OUTTEXT_FILENAME=
GPT3_REPL_ERRTEXT_FILENAME=

# stable diffusion not going to work on a computer without a gpu
STABLE_DIFFUSION_CHANNEL=
STABLE_DIFFUSION_SCRIPT=
WAIFU_DIFFUSION_CHANNEL=
WAIFU_DIFFUSION_SCRIPT=
STABLE_DIFFUSION_OUTPUT_DIR=
