# put your own info here
DISCORD_TOKEN=
MAIN_CHANNEL_ID=
MAIN_CHANNEL_NAME=
PHOTOS_DIR=
MY_NAME=
MY_DREAM=
MY_CURRENT_LOCATION=
PERSONAL_ASSISTANT_CHANNEL=
GPT3_OPENAI_API_KEY=
CODEX_OPENAI_API_KEY=
GPT3_CHANNEL_NAME=
GPT3_ROLEPLAY_CONTEXT=
GPT3_REPL_CHANNEL_NAME=
ORIGINAL_GPT3_REPL_PROMPT_FILENAME=
GPT3_REPL_WORKING_PROMPT_FILENAME=
GPT3_REPL_PYTHON_BIN=
GPT3_REPL_SCRIPT_FILENAME=
GPT3_REPL_OUTTEXT_FILENAME=
GPT3_REPL_ERRTEXT_FILENAME=
STABLE_DIFFUSION_CHANNEL_NAME_1=
STABLE_DIFFUSION_CHANNEL_NAME_2=
STABLE_DIFFUSION_PYTHON_BIN_PATH=
STABLE_DIFFUSION_SCRIPT_PATH=
STABLE_DIFFUSION_ARGS_1=
STABLE_DIFFUSION_ARGS_2=
STABLE_DIFFUSION_OUTPUT_DIR=